.Course-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    max-width:80vw;
    margin:auto;
}
.Course-section h1{
    margin-top:72px;
}
.course-category-tabs-cont{
    display: flex;
    gap:16px;
    align-items:center;
    margin-bottom:72px;
}
.course-category-tabs{
    padding: 4px 20px;
    border-radius:8px;
    display:inline;
    color:white;
}
.activetab{
  background-color:var(--prim-blue);
}
.tab{
  background-color:white;
  color:black;
  border:solid black 1px;
}

.search-input{
    width:854px;
    border-radius:50px;
    border:solid grey 1px;
    height:54px;
    margin-bottom:32px;
    padding-left:20px;
    margin-top:56px;
}
.courses-Cont{
    width:80vw;
    display:grid;
    grid-template-columns:repeat(4,20%);
    margin:auto;
    grid-row-gap:100px;
    justify-content:space-around;
    margin-bottom:100px;
}
@media (max-width:1280px) {
    .courses-Cont{
        grid-template-columns:repeat(4,22%);
        grid-row-gap:100px;
    }
    .search-input{
    width:70%;
}
}
@media (max-width: 1024px) {
    .courses-Cont{
        grid-template-columns:repeat(3,30%);
        grid-row-gap:80px;
    }
}
@media (max-width: 768px) {
    .courses-Cont{
        grid-template-columns:repeat(2,45%);
        grid-row-gap:50px;
    }
}
@media (max-width: 640px){
    .course-category-tabs-cont{
        display:grid;
        width:80vw;
        align-self:center;
        grid-template-columns:repeat(2,50%);
    }
    .search-input{
    width:80%;
}

}
@media (max-width: 480px) {
    .Course-section{
    max-width:90vw;
    margin:auto;
    }
    .courses-Cont{
        grid-template-columns:repeat(1,100%);
        grid-row-gap:50px;
    }
    .course-category-tabs{
    padding: 4px 10px;
    border-radius:8px;
    display:inline;
    height:auto;
}
}