.careers-section{
    display:flex;
    flex-direction:column;
}
.opening-section{
    margin:auto;
    width:80vw;
    display:flex;
    flex-direction:column;
    gap:64px;
    padding-bottom:112px;
}
.opening-section-title{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:24px;
}
.job-card-cont{
    display:grid;
    /* grid-template-columns:minmax(30%,auto) minmax(30%,auto) minmax(30%,auto) ; */
    grid-template-columns:repeat(4,300px);
    margin:auto;
    grid-column-gap:32px;
    grid-row-gap:100px;
    justify-content:space-around;
}
.job-card{
    display:flex;
    flex-direction:column;
    width:100%;
    /* width:379px; */
    border-radius:24px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
}
.job-card-image{
    width:100%;
    height:153px;
    border-top-right-radius:24px;
    border-top-left-radius:24px;
}
.job-card-description{
    padding:32px;
    display:flex;
    flex-direction:column;
    gap:24px;
}
.job-description-content{
    display:flex;
    flex-direction:column;
    gap:8px;
}
.job-card-apply-link{
    text-decoration:none;
    color:var(--prim-blue)
}
.apply-bg{
    background-color:var(--grey-bg);
}
.apply-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:48px;
    padding:80px;
}
.apply-section-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:8px;
}
.apply-link{
    text-decoration:none;
}
.apply-btn{
    Background-color:var(--prim-blue);
    padding:16px 56px;
    border-radius:8px;
    border-width:0px;
}