.site-header {
  position: sticky;
  top: 0;
  z-index: 40;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:auto;
  padding:16px 0;
  max-width: 80vw;
}

.header-tabs {
  font-weight: 500;
  padding:4px 8px;
  cursor:pointer;
}
.header-tabs:hover {
  font-weight: 500;
  padding:4px 8px;
  border-radius:8px;
  background-color:var(--light-blue);
  transition: all 0.1s ease-in-out;
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px
}

.logo-dot {
  width: 43px;
  height: 43px;
  left: 101px;
  border-radius: 999px;
  background: #e9eef7;
  display: flex;
}

.brand-name {
  font-weight: bold
}

.main-nav ul {
  display: flex;
  gap: 28px;
  list-style: none;
}
