

.contact-card-container{
    display:flex;
    flex-direction:column;
    gap:34px;
}
.eachContact-card{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius:24px;
    width:540px;
    padding:16px 32px;
    background:white;
    display:flex;
    align-items:center;
    gap:16px;
}
.contact-image-cont{
   background-color:var(--light-blue);
   border-radius:8px;
    height:48px;
    width:48px;
    display:flex;
    justify-content:center;
    align-items:center
   
}
.contact-detail p{
   max-width:264px;
}
.contact-images{
    height:32px;
    width:32px;
}
.contact-type{
    color:var(--muted2);
}
.follow-journey-bg{
    background-color: var(--grey-bg);
}
.follow-journery-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 0px;
    gap:40px;
    text-align: center;
}
.follow-journey-heading{
    color:var(--muted2);
}
.follow-socialmedia-links{
    display: flex;
    align-self: center;
    gap:130px;
    margin-bottom: 28px;
}
.social-media-app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lg-screen{
    display: flex;
}
.sm-screen{
    display: none;
}
@media(max-width:769px){
}
@media (max-width:480px){
    .follow-socialmedia-links{
    gap:50px;
}
.lg-screen{
    display: none;
}
.sm-screen{
    display: flex;
}
.eachContact-card{
    width:280px;
    height:80px;
    padding:16px 32px;
    background:white;
    display:flex;
    gap:16px;
}
}