.footer-container {
  background-color: var(--darkblue); /* Deep navy blue from image */
  color: #ffffff;
  padding: 96px 120px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}

.footer-section {
  flex: 1;
  display:flex;
  flex-direction:column;
  gap:24px;
  min-width: 200px;
  margin-bottom: 30px;
}

.footer-logo {
  font-size: 28px;
  font-weight: 600;
}

.footer-title-section{
  gap:32px;
}

.footer-tagline {
  max-width: 200px;
}

.footer-section h3 {
  font-weight: 500;
}

.footer-section ul {
  list-style: none;
  display:flex;
  flex-direction:column;
  gap:8px;
}

.footer-section p {
  color: #ffffff;
  text-decoration: none;
}

/* Bottom Bar */
.footer-bottom {
  border-top: 1px solid white;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  flex-wrap: wrap;
}

.legal-links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 30px;
  opacity: 0.8;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-icons a {
  color: white;
  text-decoration: none;
}

/* Responsive adjustment */
@media (max-width: 768px) {
  .footer-container {
    padding: 40px 20px 20px 20px;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .footer-bottom-right {
    flex-direction: column;
    gap: 20px;
  }
  .legal-links a {
    margin: 0 10px;
  }
}