.footer-container {
  background-color: #002d50; /* Deep navy blue from image */
  color: #ffffff;
  padding: 96px 120px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  display:flex;
  flex-direction:column;
  min-width: 200px;
  margin-bottom: 30px;
}

.footer-logo {
  font-size: 28px;
  font-weight: 600;
}

.footer-tagline {
  font-size: 16px;
  max-width: 200px;
  line-height: 1.4;
  opacity: 0.9;
}

.footer-section h3 {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 25px;
  font-weight: 500;
  opacity: 0.8;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 12px;
}

.footer-section a, 
.footer-section p {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  opacity: 0.9;
}

.footer-section a:hover {
  opacity: 1;
}

/* Bottom Bar */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  flex-wrap: wrap;
}


.footer-bottom-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.legal-links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 30px;
  opacity: 0.8;
}

.social-icons {
  display: flex;
  gap: 16px;
}

.social-icons a {
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

/* Responsive adjustment */
@media (max-width: 768px) {
  .footer-container {
    padding: 40px 20px 20px 20px;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .footer-bottom-right {
    flex-direction: column;
    gap: 20px;
  }
  .legal-links a {
    margin: 0 10px;
  }
}