.accordion-container {
  width: 100%;
  max-width: 900px; /* Adjust as needed */
  border-top: 1px solid #e2e8f0;
  color:var(--darkblue);
  font-family:'poppins',sans-serif;
}

.accordion-item {
  border-bottom: 1px solid #e2e8f0;
  
}

.accordion-trigger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  transition: all 0.2s ease;
  
}
.faq-question{
  color:var(--darkblue);
  font-weight: 500;
}

.accordion-trigger:hover {
  text-decoration: pointer;
}

/* The Chevron Arrow */
.chevron {
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #64748b;
  border-right: 2px solid #64748b;
  transform: rotate(45deg);
  transition: transform 0.2s ease;
  margin-right: 10px;
}

.accordion-trigger.active .chevron {
  transform: rotate(-135deg);
}

/* Smooth Slide Animation */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease;
  opacity: 0;
}

.accordion-content.open {
  max-height: 200px; /* High enough to contain text */
  opacity: 1;
}

.content-inner {
  font-weight: 400;
  padding: 0 0 16px 0;
  color: #475569;
  font-size: 0.95rem;
  line-height: 1.5;
}