.overlayStyle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
 padding: 20px;
  z-index: 50;
}
.modalStyle {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.inputStyle {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.submitBtnStyle {
  flex: 1;
  padding: 10px;
  background:#28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer
}
.cancelBtnStyle {
  flex: 1;
  padding: 10px;
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.apply-btn {
  background-color: var(--prim-blue);
  padding: 12px 32px;
  border-radius: 8px;
  border-width: 0px;
  color:white;
}
.apply-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 1536px) {
}
@media (max-width: 1280px) {
}
/* Responsive adjustments */
@media (max-width: 1025px) {
}
@media (max-width: 769px) {
}
@media (max-width: 640px) {
}
@media (max-width: 480px) {
  .apply-btn {
    background-color: var(--prim-blue);
    padding: 12px 28px;
    border-radius: 8px;
    border-width: 0px;
  }
  .apply-btn:hover {
    background-color: #0056b3;
  }
}
