:root{
  --muted1: #476788;
  --muted2: #A6BBD1;
}
  .prim-blue{color:#006bff}
  .darkblue-text{color:#0B3558}
  .white{background-color:white}
  /*--muted: #8b8b8b;
  --bg-ghost: #ffffff;
  --card-shadow: 0 10px 30px rgba(17,24,39,0.06);
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/



body{
   font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.main-heading{
  font-size:3.5rem;
  line-height:1.4;
}
h1{
   font-size:2.98rem;
}
h2{
  font-size:2.4rem;
}
h3{
  font-size:2rem;
}
h4{
  font-size:1.728rem;
}
h5{
  font-size:1.44rem;
}
p{
  font-size:1.2rem;
}
.small-para{
  font-size:1rem;
}

*{box-sizing:border-box}
html,body,#root{height:100%}
body{margin:0;background:var(--bg);color:var(--text)}

a{color:inherit}

code{background:#f3f4f6;padding:2px 6px;border-radius:6px}
