*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root{
  --grey-bg:#F8F9FB;
  --muted1: #476788;
  --muted2: #A6BBD1;
  --light-blue:#E6F0FF;
  --prim-blue:#006bff;
  --darkblue:#0B3558;
}
  .prim-blue{color:#006bff}
  .prim-bluebg{background-color:#006bff}
  .darkblue-text{color:#0B3558}
  .white-bg{background-color:white}
  .white{color:white}
  /*
  --card-shadow: 0 10px 30px rgba(17,24,39,0.06);
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/



body{  
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color:#0B3558;
  background-color: white;
}
.main-heading{
  font-size:3.5rem;
  line-height:1.4;
}
.txt-48{
   font-size:2.98rem;
}
.txt-40{
  font-size:2.488rem;
}
.txt-33{
  font-size:2.074rem;
}
.txt-28{
  font-size:1.728rem;
}
.txt-23{
  font-size:1.44rem;
}
.txt-19{
  font-size:1.2rem;
}
.txt-16{
  font-size:1rem;
}
.txt-13{
  font-size:0.833rem;
}
.small-para{
  font-size:0.833rem;
}
@media(max-width:480px){
  .main-heading{
  font-size:2.074rem;
  line-height:1.4;
}
.txt-19{
  font-size:1rem;
}
.txt-16{
  font-size:0.833rem;
}
.txt-13{
  font-size:11px;
}
  
}
/* *{box-sizing:border-box}
html,body,#root{height:100%}
body{margin:0;background:var(--bg);color:var(--text)} */

a{color:inherit}

code{background:#f3f4f6;padding:2px 6px;border-radius:6px}
