.learn-section{
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--darkblue);
    display:flex;
    flex-direction:column;
    align-items:center;
}
.course-card-cont{
    width:80vw;
    display:grid;
    /* grid-template-columns:minmax(30%,auto) minmax(30%,auto) minmax(30%,auto) ; */
    grid-template-columns:repeat(4,20%);

    margin:auto;
    grid-row-gap:100px;
    justify-content:space-around;
    margin-bottom:100px;
}
/* .learn-header-section{
    background-image:-webkit-mask-image:linear-gradient(to right,transparent,black),url("https://images.unsplash.com/photo-1542810634-71277d95dcbb?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height:90vh;
    width:100vw;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
} */
.learn-header-section {
    /* 1. The Gradient Overlay + The Image */
    width: 80vw;
    margin:auto;
    border-width:0px;
    border-radius:25px;
    border-top-right-radius:0px;
    margin-bottom:200px;
    background-image: linear-gradient(
        to right, 
        white 30%, 
        rgba(255, 255, 255, 0.5) 60%, 
        transparent 100%
    ), 
    url("https://res.cloudinary.com/drzttwcyz/image/upload/v1768729392/work_vmei5p.jpg");

    /* 2. Sizing and Layout */
    height: 80vh;
    background-size: cover;
    background-position: center;
    
    /* 3. Positioning Text */
    justify-content: center; /* Aligns text to the left over the white fade */
    align-items:flex-start; /* Gives the text some breathing room */
    display:flex;
    flex-direction:column;
}
.learn-explore-btn{
    background-color:var(--prim-blue);
    width: 107px;
    height: 49px;
    border-radius: 8px;
    border: none;
}
.learn-header-content{
    width:50%;
    gap:40px;
    display:flex;
    flex-direction:column;
}
.course-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 24px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  overflow: hidden;

}
.course-card:hover{
  transform: scale(1.02); /* Lifts the whole card slightly */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.course-card:hover .course-card-image{
 transform: scale(1);
}


.course-card-description{
    padding:32px;
    display:flex;
    flex-direction:column;
    gap:16px;

}
.course-description-content{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:8px;
}
.courses-section-header{
    width:80vw;
    text-align: center;
    margin:auto;
    margin-bottom:72px;
}
.course-card-duration-cont{
    background-color: var(--light-blue);
    width:90px;
    height:26px;
    padding: 4px 4px;
    border-radius: 8px;
    color:var(--prim-blue);

}
.course-card-image{
  width: 100%;
  height:153px;
  object-fit: cover;
  display: block;
  /* Starts zoomed in at 1.2 so it has room to zoom 'out' */
  transform: scale(1.1); 
  transition: transform 0.5s ease-in-out;
}
.course-card-image-wrapper{
  width: 100%;
  height: 153px;
  overflow: hidden; /* This is what clips the image edges during zoom */
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}
.xplore-all-btn{
    width:214px;
    height:49px;
    padding:10px 18px;
    border-radius:8px;
    border: solid var(--prim-blue) 1px;
    color:var(--prim-blue);
}
.xplore-btn-cont{
    margin-bottom:96px;
}@media(max-width:1536px){
    
}
@media (max-width:1280px) {
    .course-card-cont{
        grid-template-columns:repeat(4,22%);
        grid-row-gap:100px;
    } 
}
@media (max-width: 1024px) {
    .course-card-cont{
        grid-template-columns:repeat(3,30%);
        grid-row-gap:80px;
    }
    .learn-header-section {
        height: 80vh;
        background-position: center;
        padding-left:20px;
    }
    .learn-header-content{
        width:60%;
    }
}
@media (max-width: 769px) {
    .course-card-cont{
        grid-template-columns:repeat(2,45%);
        grid-row-gap:50px;
    }
    .learn-header-section {
        height: 80vh;;
        background-position: center;
    }
    .learn-header-content{
        width:80%;
    }
}
@media(max-width: 640px){
    .learn-header-section {
    /* 1. The Gradient Overlay + The Image */
    width: 100%;
    background-image: linear-gradient(
        to bottom, 
        white 10%, 
        rgba(255, 255, 255, 0.5) 60%, 
        transparent 100%
    ), 
    url("https://res.cloudinary.com/drzttwcyz/image/upload/v1768729392/work_vmei5p.jpg");

    /* 2. Sizing and Layout */
    height: 90vh;
    padding-left:20px;
    border-radius: 0px;
    width:100%;
}
}
@media (max-width: 480px) {
    .course-card-cont{
        grid-template-columns:repeat(1,100%);
        grid-row-gap:50px;
    }
    .learn-header-section {
        height: 40vh;
        background-position: center;
    }
    .learn-header-content{
        width:80%;
    }
    .learn-header-section {
    /* 1. The Gradient Overlay + The Image */
    background-image: linear-gradient(
        to bottom, 
        white 10%, 
        rgba(255, 255, 255, 0.5) 50%, 
        transparent 100%
    ), 
    url("https://res.cloudinary.com/drzttwcyz/image/upload/v1768729392/work_vmei5p.jpg");

    /* 2. Sizing and Layout */
    height: 90vh;
    border-radius: 0px;
    width: 100%;
}
}