
.learn-section{
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--darkblue); 
}
.course-card-cont{
    width:80vw;
    display:grid;
    /* grid-template-columns:minmax(30%,auto) minmax(30%,auto) minmax(30%,auto) ; */
    grid-template-columns:repeat(4,22%);

    margin:auto;
    grid-row-gap:100px;
    justify-content:space-around;
}
/* .learn-header-section{
    background-image:-webkit-mask-image:linear-gradient(to right,transparent,black),url("https://images.unsplash.com/photo-1542810634-71277d95dcbb?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height:90vh;
    width:100vw;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
} */
.learn-header-section {
    /* 1. The Gradient Overlay + The Image */
    max-width: 80vw;
    margin:auto;
    border-radius:25px;
    margin-bottom:200px;
    background-image: linear-gradient(
        to right, 
        white 30%, 
        rgba(255, 255, 255, 0.5) 60%, 
        transparent 100%
    ), 
    url("https://images.unsplash.com/photo-1542810634-71277d95dcbb?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    /* 2. Sizing and Layout */
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    
    /* 3. Positioning Text */
    justify-content: center; /* Aligns text to the left over the white fade */
    align-items:flex-start; /* Gives the text some breathing room */
    display:flex;
    flex-direction:column;
}
.learn-header-content{
    width:50%;
}
.course-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 24px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease;

}
.course-card:hover{
  transform: scale(1.02); /* Lifts the whole card slightly */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

}
.course-card-description{
    padding:32px;
    display:flex;
    flex-direction:column;
    gap:16px;

}
.course-description-content{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:8px;
}
.course-card-duration-cont{

}
.course-card-image{
  width: 100%;
  height:153px;
  object-fit: cover;
  display: block;

}
